<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Consulta</title>
</head>
<body>
    <header>
        <h1>Agendar Consulta</h1>
    </header>
    
    <main>
        <form method="POST">
            {% csrf_token %}
            <!-- Exibe o formulário de agendamento -->
            {{ form.as_p }}

            <!-- Adiciona a lista suspensa para escolher a carteirinha do pet -->
            <label for="pet">Escolha o Pet para Agendar a Consulta:</label>
            <select name="pet" id="pet">
                {% for pet in pets %}
                <option value="{{ pet.id }}">{{ pet.nome }}</option>
                {% endfor %}
            </select>

       

            <!-- Botão de submit -->
            <button type="submit">Agendar</button>
        </form>
    </main>
</body>
</html>
