<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pet</title>
</head>
<body>
    <header>
        <h1>{% if pet %}Editar{% else %}Cadastrar{% endif %} Pet</h1>
    </header>
    
    <main>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    </main>
</body>
</html>
