<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Consultas</title>
    
</head>
<body>
    <header>
        <h1>Minhas Consultas</h1>
    </header>
    
    <main>
        <ul>
            {% for consulta in consultas %}
                <li>
                    <strong>Data:</strong> {{ consulta.data }} <br>
                    <strong>Hora:</strong> {{ consulta.hora }} <br>
                    <strong>Motivo:</strong> {{ consulta.motivo }} <br>
                        {% csrf_token %}
                        <button type="submit">Cancelar</button>
                    </form>
                </li>
            {% empty %}
                <li>Você não tem consultas agendadas.</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
