<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de login para clientes.">
    <title>Login de Cliente</title>
    
</head>
<body>
    <header>
        <h1>Login de Cliente</h1>
    </header>
    
    <main>
        <form action="{% url 'login_cliente' %}" method="POST">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <button type="submit">Entrar</button>
        </form>
        {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    </main>

</body>
</html>
