<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página Inicial{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Clínica Veterinária</h1>
        <img src="{% static 'image/patinhas.jpg' %}" alt="Clínica Veterinária" style="width: 90%; height: auto;">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'agendar_consulta' %}">Serviços</a></li>
                <li><a href="{% url 'consultas_cliente' %}">Minhas Consultas</a></li>
                <li><a href="{% url 'criar_pet' %}">Cadastrar Pets</a></li>
                <li><a href="{% url 'listar_pets' %}">Meus Pets</a></li>
                <li><a href="{% url 'home' %}">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 Clínica Veterinária</p>
    </footer>
    <script src="{% static 'script.js' %}"></script> <!-- Inclusão do JavaScript -->
</body>
</html>
